# Java #
*.class

# Package Files #
*.jar
*.war
*.ear

# IDEA #
*.iml
.idea
*~

# Eclipse #
.project
.metadata
.classpath
.settings/

# Maven #
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

# SBT #
project/

# Test Data #
data/
private_data/
simulation/
simulation_three_phase/
results/

# Misc #
glslogs/
models/
*.log
/bin/
.cache-main
.cache-tests

