html,
body {
    height: 100%;
}

.intro {
    height: calc(100% - 56px);
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro canvas {
    cursor: crosshair;
}

.form-control {
    padding: 4px 8px;
}

.col-form-label {
  padding-right: 0;
}

.col-form-legend {
  padding-bottom: 0.375rem;
  margin-bottom: 0;
  font-size: 14px;
}

#edit_frame {
    height: 100%;
}

#edit_contents {
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 20px;
}

#view_frame {
    height: 100%;
}

#view_contents {
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.collapsed.collapse-link::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
        border-top-width: 0.3em;
        border-top-style: solid;
        border-top-color: currentcolor;
    border-right: .3em solid transparent;
        border-right-width: 0.3em;
        border-right-style: solid;
        border-right-color: transparent;
    border-bottom: 0;
        border-bottom-width: 0px;
        border-bottom-style: none;
        border-bottom-color: currentcolor;
    border-left: .3em solid transparent;
        border-left-width: 0.3em;
        border-left-style: solid;
        border-left-color: transparent;
}

:not(.collapsed).collapse-link::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
        border-top-width: 0px;
        border-top-style: none;
        border-top-color: currentcolor;
    border-right: .3em solid transparent;
        border-right-width: 0.3em;
        border-right-style: solid;
        border-right-color: transparent;
    border-bottom: .3em solid;
        border-bottom-width: .3em;
        border-bottom-style: solid;
        border-bottom-color: currentcolor;
    border-left: .3em solid transparent;
        border-left-width: 0.3em;
        border-left-style: solid;
        border-left-color: transparent;
}

.mapboxgl-popup-close-button {
    font-size: large;
}

/* allow div in dropdown menus, not just a */
.dropdown-menu > li > div
{
    padding-left: 16px;
    color: #333;
    font-size: 16px;
}

footer.page-footer {
    margin-top: 0;
}

.btn-file
{
    position: relative;
    overflow: hidden;
    padding-left: 22px;
    color: white !important;
    background-color: #2bbbad !important;
}

.btn-file:hover, .btn-file:focus
{
    color: white;
}

.btn-file input[type=file]
{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.modal-footer
{
    padding-left: 50px !important;
    padding-right: 50px !important;
    padding-bottom:40px !important;
}

.drop_zone
{
    color: graytext;
    background-color: rgb(238, 238, 238);
    padding: 7px;
    background-image: none;
}

.card_resizeable
{
    resize: both;
    overflow: auto;
}

.tooltip
{
    top: 0;
}